name: Dofus API CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
jobs:    
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Build with Maven
        run: mvn -B package

      - name: Create an artifact
        uses: actions/upload-artifact@v2
        with:
          name: DofusApi-artifact
          path: target/dofusapi-0.0.1-SNAPSHOT.jar
      
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          file: ./Dockerfile
          push: true
          tags: dofusapi/app:latest
        
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
